.navbar {
   position: fixed;
   top: 60px;
   width: 100%;
   height: 50px;
   background-color: rgba(0, 0, 0, 0.7);
   display: flex;
   justify-content: right;
   align-items: center;
   z-index: 1000; 
   margin-bottom: 30px;
}

.navbar-container {
   display: flex;
   flex: auto;
   flex-direction: row-reverse;
   align-items: right;
   width: 90%;
   max-width: 1200px;
}
 
.menu {
   float: end;
   gap: 20px;
}

.navbar-btn {
   background: goldenrod;
   color: black;
   padding: 5px 20px;
   border: none;
   border-radius: 20px;
   font-size: 0.8rem;
   cursor: pointer;
   margin-right: 15px;
   transition: background-color 0.3s ease;
}

.login-btn {
   color: #344e41; /* Dark green color */
}

.navbar-btn:hover {
   background-color: #f0f0f0;
}

.profile-circle {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   overflow: hidden;
   margin-right: 20px;

   &:hover {
       cursor: pointer;
   }
}

.profile-circle img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
   .navbar {
       z-index: 500; /* Reduced z-index for mobile */
   }
}
