
<div class="container">
    
    <div mat-dialog-content class="login-container">
        <div class="form-div">
            <form>
                <input class="cus-input" type="text" placeholder="Email Id" />
                <input class="cus-input" type="password" placeholder="Password" />
                <button class="login-btn" (click)=login()>Login</button>
            </form>
        </div>
        <div class="register">
            Don't have an account?<a href="/signup"> Register!</a>
        </div>
    </div>
</div>